@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.busqueda{
  display: flex;
  padding: 0.5rem;
}

.logo{
  margin-left: 1.3rem;
  display: flex;
  margin:0.5rem
}
.logo img{
  width: 6rem;
  margin-left: .9rem;
}

.logo a{
  text-decoration: none;
  align-self: center;
  margin: 0 0.4rem 0 1rem;
  font-size: 1rem;
  color:rgb(37, 37, 37)
}

/* barra de busqueda*/
.contenedor_busqueda{
  display: flex;
  background-color: #fff;
  align-self: center;
  align-items: center;
  border: 1px solid #a1a1a1;
  border-radius: 3rem;
  height: 3rem;
  width: 34rem;
  padding: 0.5rem;
 
}

.contenedor_busqueda input{
  width: 40rem;
  height: 1.4rem;
  border: none;
  outline: none;
}

.contenedor_busqueda img{
  height: .9rem;
  width: .8rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

/*opciones -------------*/
.opciones{
  color: rgb(37, 37, 37);
  font-size: 1rem;
  margin-left: 1rem;
  align-self: center;
}
.opciones ul{
  display: flex;
  list-style-type: none;
  padding: 0.6rem;
}

.opciones li{
  margin: 0.3rem;
   padding: 0.3rem;
}

/*iconos ---------------*/

.iconos_udemy{
  align-self: center;
}
.iconos_udemy ul{
  list-style-type: none;
  display: flex;
}

.iconos_udemy img{
  height: 1rem;
  width: 1rem;
}

.iconos_udemy li{
  margin: 0.7rem;
}

.iconos_udemy li:nth-child{
  width: 2rem;
  height: 3rem;
}
/*submenu*/
.categorias{
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.6); 
  border-top: 1px solid #d6d1d1;
}

.lista{
  padding: .7rem;
  width: 90%;
  margin: 0 auto;
}

.lista ul {
  display: flex;
  font-size: 1rem;
}

.lista ul li{
  margin-left: 1.2rem;
  list-style-type: none;
}

/* perfil */
.perfil{
  display: flex;
  width: 50rem;
  margin-left: 8rem;
  margin-top: 1rem;
}
.logo_usuario{

  height: 4rem;
  width: 4rem;
}

.parrafos_perfil{
  margin-left: 0.5rem;
}
.saludo{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.7rem;
}

.intereses{
  padding-top: 0.6rem;
}

.logo_usuario img{
  display: flex;
  height: 3rem;
  width: 3rem;
  margin: 0.6rem auto;
}

/* SLIDER */

.slider {
  position: relative;
  width: 90%;
  margin: 1.6rem auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%; 
}

.slides img {
  width: 100%;
  display: block;
}

.buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons button {
  background-color: rgba(252, 246, 246, 0.966);
  color: rgb(41, 37, 37);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.1rem;
}

button{
  width: 1.8rem;
}

.buttons button:hover {
  background-color: rgba(204, 202, 202, 0.8);
}

.btn1{
  margin-left: 1rem;
}
.btn2{
  margin-right: 1rem;
}

.videos{
  width: 100vh;

}

.videos img{
  width: 5rem;
  height: 5rem;
}

/*CURSOS*/

.container{
  width: 90%;
  margin: 1.6rem auto;
}

.container h1{
  margin-left: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.four.columns {
     width: calc(25% - 20px)
}

.card {
    background: #fff;
    padding: 15px;
}

.imagen-curso {
    width: 100%;
    border-radius: 5px;
}


.precio {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.u-pull-right {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

